* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
p {
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    height: 30px;
    text-align: center;
    border: 1px solid black;
    padding: 01%;
    background-color: lightgreen;
}

div#container {
    position: relative;
    padding-top: 35px;
    padding-bottom: 2px;
    padding-right: 2px;
    padding-left: 2px;
    margin: 1%;
    border: 1px solid black;
    float: left;
    background-color: lightgray;
}
/* desktop */
@media (min-width:992px){
    .col-desktop-3 {
        width: 31.33%;
        
    }
}

/* tablet */
@media (min-width: 768px) and (max-width: 991px){
    .col-tablet-6 {
        width: 48%;   
    }
    .col-tablet-12 {
        width: 98%;
    }
}

/* phone */
@media (max-width: 767px) {
    .col-phone-12 {
        width: 98%;
    }
}